# Ignore the .env file
.env

# Ignore the Documents folder
Documents/

# venv
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Large data folders
Source_Data/
qdrant_backup/
marker_output/

# Zip files
*.zip

# Temp files
temp_upload.png